.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

.hover_venues{
    display:none;
    z-index: 111;
 } 

 .navbar_venues:hover + .hover_venues{
  display:block;
 }

.mthome{
  margin-top: 120px;
} 

.nav_item{
  font-size: 17px;
  
}


/* demo */

.datepickerdiv{
  width: 480px;
}


/* home page */
.main_img{
  position: relative;

}
.mainimg{
  object-fit: cover;
  filter: brightness(80%);
}
.imgtext{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(241, 239, 239);
}

.imgtextnext{
  
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:rgb(227, 225, 212);
}
.slider{
  z-index: -1;
}
.sliderimg{
  object-fit: cover;
}

.rainimg{
  /* border-top-left-radius: 90px;
  border-bottom-left-radius: 90px; */
  object-fit: cover;
  clip-path: ellipse(99% 140px at 100% 50%);
}
.RainbowCategoryCard {
  width: 630px;
}

.showcase_card{
  object-fit: cover;
}

.function_pic{
  background-color: rgb(241, 241, 241);
}

/*bridewear page */
.cardimg{
  height: 400px;
  object-fit: cover;
}

.function_card{
  object-fit: cover;
}

.main_text{
  position: absolute;  
}

/* groomwear */
.card_groomwear
{
  height: 250px;
  object-fit: cover;
}


/* //photohraphy */
.haldi_mainpic{
  object-fit: cover;
  position: relative;
}


.haldi_pic{
  object-fit: cover;
  position: relative;
}

.haldileft_text{
  position: absolute;
}


.prewedding_pic{
  object-fit: cover;
}

.wedding_mainpic{
  object-fit: cover;
}

.card_photography{
  object-fit: cover;
  height: 230px;
}


/* testmonials */
.feeling_love{
  object-fit: cover;
  height: 480px;
  filter: brightness(50%);
}


/* decoration */

.decoration_cart{
  height: 190px;
  object-fit: cover;
}

/* about as */

.realwedding_pic{
  object-fit: cover;
}

.card_team{
  object-fit: cover;
  height: 200px;
}

.bridelove_img{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* bg-body-tertiary */

/* login */
.user_img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: absolute;

}

.user_email{
  height: 50px;
    padding: 10px 2px;
    margin-top: 20px;
    margin-bottom: unset;
    width: 100%;
    font-size: 14px;
    position: relative;
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(74, 74, 74);
    position: relative;
}


/* .input_email{
  font-family: proxima-nova, sans-serif;
background: transparent;
width: 100%;
border: none;
padding: 0px 20px;
} */

.btn_signin{
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: palevioletred;
  margin-left: 30px;
  margin-top: 20px;
  width: 180px;
  height: 50px;
  color: white;
}

 .faceBook_google{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
 .facebook_signin {
  border: 2px solid gray;
  width: 250px;
  padding: 10px;  
  padding-left: 30px;
  
} 

.google_signin{
  border: 2px solid gray;
  width: 250px;
  padding: 10px;
}  */




/* //.registraion */
.registraion_info
{
  border: none;
  border-bottom: 1px solid gray;
}

.indian_img{
  border-bottom: 1px solid gray;
}

.btn_continue{
  display: flex;
  justify-content: center;
  align-items: center; 
  /* background-color: rgb(101, 160, 233); */
  /* margin-left: 30px; */
  margin-top: 20px;
  /* width: 180px; */
  width: 100vh;
  height: 50px;
  /* color: white; */
}

.btn_customer{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 30px;
  margin-top: 20px;
  width: 180px;
  height: 50px;
  color: white;
}

.customer_login{
 border: border dotted 2px ;
}

.select{
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  padding-right: 450px;
  /* margin-top: 8px; */
  
}

/* bride shop */

/* .get_quotation{
  background-color: rgb(217, 67, 92);
}
.price{
  color:rgb(217, 67, 92);
} */

.get_quotation{
  background-color: rgb(234, 74, 101);
}
.price{
  color:rgb(234, 74, 101);
}

.shop{
  object-fit: cover;
}

.shop_cart{
  background-color: rgb(250, 248, 248);
}

/* decorateform */

.select_decorate{
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  padding-right: 350px;
  padding-left:px;
  margin-left: 10px;
}

.date_event{
  border:none;
  border-bottom: 2px solid grey;
  margin-top: 20px;


}

/* //footer */
.footer{
  background-color: rgb(255, 247, 248);
}

.footer_logo{
  width: 80px;
  object-fit: cover;
}

.footer_hirebtn{
  background-color: rgb(234, 74, 101);
  
}

.head_footer{
  color: rgb(234, 74, 101);
}

.footer_regbtn{
  background-color: rgb(222, 220, 220);
}

.footer_carebtn{
  color: rgb(234, 74, 101);
  border: 1px solid rgb(234, 74, 101);
}

  .text_message{
    color: rgb(234, 74, 101);

  }
  
  .footer_email{
    border: none;
    border-bottom: 2px solid gray ;
  }
/* 
.text_message{
  color: rgb(234, 74, 101);

}

 */

 .wedding_screen{
  background-color: rgb(249, 211, 218);
 }

 .screen_heading{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-weight: 300;
 }



 .btn_website{
      border: 2px solid palevioletred;
      color:palevioletred
 }

 .btn_website:hover{
  background-color: palevioletred;
  color:white;
 } 

 .footer_img{
  object-fit: cover;
 }

 .photogallery_footer{
  background-color: rgb(255, 247, 248);

 }

 /* payment */

 .form-signin{
  max-width: 500px;
  background-color: white;
  padding: 50px;
  color: var(--darkblue);
  margin-top: 70px!important;
  margin-bottom: 60px!important;
  border-radius: 20px;
  box-shadow:  20px 20px 60px #bebebe,
           -20px -20px 60px #ffffff;
}
.mainbody{
  background-color: aliceblue;
}
.formbody .form-label{
  font-weight: 500;
}

/* .cardimg{
  object-fit: cover;
} */